* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-playfair);
}

:root {
  --clr-dark-blue: rgb(35, 49, 68);
  --clr-blue: rgb(18, 72, 116);
  --clr-white: #fff;
  --clr-light-gray: rgb(192, 192, 192);
  --clr-light-input: rgb(240, 239, 239);
  --clr-button: rgb(26, 182, 182);
  --font-playfair: "Playfair Display", serif;
  --font-newsreader: "Newsreader", serif;
}

.container {
  width: 92%;
  margin: 0 auto;
}

/* Header ------------------ */
header h1 {
  background-color: var(--clr-dark-blue);
  color: var(--clr-white);
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  padding: 1.5rem;
}

.header__text {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header__text h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.header__text p {
  color: var(--clr-light-gray);
  font-weight: 200px;
  font-size: 17px;
  font-family: var(--font-newsreader);
  width: 90%;
  margin-bottom: 30px;
}

.hr-one {
  border: 2px solid black;
  margin-bottom: 2px;
}

.hr-two {
  border: 1px solid black;
}
/* End Header ------------------ */

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

legend h2 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

label[for],
label[for="state"] {
  font-size: 16px;
  color: var(--clr-dark-blue);
  font-weight: 200;
  font-family: var(--font-newsreader);
  margin-bottom: 8px;
  margin-top: 6px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
select[name="state"] {
  margin-bottom: 12px;
  background-color: var(--clr-light-input);
  border: none;
  height: 50px;
  border-radius: 2px;
  cursor: pointer;
}

input:focus,
select:focus {
  outline-color: var(--clr-blue);
}

select:nth-child(1) {
  color: pink;
}

input::placeholder {
  color: var(--clr-light-gray);
  font-family: var(--font-newsreader);
  font-weight: 200;
  font-style: italic;
  font-size: 14px;
  color: gray;
  text-align: right;
  padding-right: 15px;
}

input[type]:nth-of-type(6) {
  width: 50%;
  margin-bottom: 30px;
}

/* Newsletter ---------------- */
.newsletter__text,
label[for="format"],
p {
  font-weight: 200;
  color: var(--clr-dark-blue);
  font-size: 17px;
  font-family: var(--font-newsreader);
  margin-bottom: 20px;
}

.newsletter__text1 {
  margin-top: 20px;
}

fieldset > label {
  color: var(--clr-dark-blue);
  font-weight: 200;
  font-family: var(--font-newsreader);
}

.newsletter__container {
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem 0 0.5rem;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 0 4px 8px 0;
}

label[for="news"],
label[for="format"] {
  display: inline;
  margin-left: 8px;
}

.other {
  margin-top: 25px;
}

/* Textarea---------------- */
textarea {
  background-color: var(--clr-light-input);
  border-radius: 2px;
  border: none;
  margin-bottom: 25px;
  height: 100px;
}

button {
  background-color: rgb(26, 182, 182);
  border: none;
  border-radius: 4px;
  color: var(--clr-white);
  height: 60px;
  font-family: var(--font-newsreader);
  font-size: 22px;
  font-weight: bold;
}

footer {
  padding-top: 25px;
  padding-bottom: 200px;
  font-family: var(--font-newsreader);
  color: var(--clr-light-gray);
  text-align: center;
  font-style: italic;
}
